
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="module-container" class="d-flex flex-column">
    <!-- HOME MODULE -->
    @Html.Partial("../Modules/_Home")

    <!-- ABOUT MODULE -->
    @Html.Partial("../Modules/_About")

    <!-- PORTFOLIO MODULE -->
    @Html.Partial("../Modules/_Portfolio")

    <!-- BLOG MODULE -->
    @Html.Partial("../Modules/_Blog")

    <!-- CONTACT MODULE -->
    @Html.Partial("../Modules/_Contact")

    <!-- FOOTER MODULE -->
    @Html.Partial("../Modules/_Footer")

</div>