<!--
    ==================================
                ABOUT MODULE
    ==================================
-->
@model personal_site.ViewModels.ContactViewModel

<div id="contact-container">
    <div id="contact-inner-container" class="row h-100 justify-content-center">
        <div id="services-container" class="col-md-6">
            <h1 id="services-title">SERVICES</h1>
            <h3 id="services-subtitle">See how I can help your business</h3>

            <div id="service-list-container" class="row">
                @{
                    var serviceList = new Dictionary<string, string>
                    {
                        { "Websites", "Bring your ideas to life with innovative designs and cutting edge web technology" },
                        { "Apps", "Make your software more accessible to the world by being available on all mobile platforms" },
                        { "Databases", "Providing database modelling, development, optimization, storage migration and security" },
                        { "Cloud", "Scale your software with Azure, AWS, Docker and Kubernetes cloud based solutions" },
                        { "SEO", "Optimize your websites to ensure it's at the top of results and reachable by everyone" }
                    };
                }

                @foreach (var serviceItem in serviceList)
                {
                    string serviceIconClass = "";

                    switch (serviceItem.Key)
                    {
                        case "Websites":
                            serviceIconClass = "fas fa-code";
                            break;

                        case "Apps":
                            serviceIconClass = "fas fa-mobile-alt";
                            break;

                        case "Databases":
                            serviceIconClass = "fas fa-database";
                            break;

                        case "Cloud":
                            serviceIconClass = "fas fa-cloud-upload-alt";
                            break;

                        case "SEO":
                            serviceIconClass = "fas fa-chart-line";
                            break;
                    }



                    <div class="service-container col-md-4">
                        <div class="service-inner-icon-container">
                            <i class="@serviceIconClass"></i>
                        </div>
                        <h4 class="service-inner-title">@serviceItem.Key</h4>
                        <p class="service-inner-text">
                            @serviceItem.Value
                        </p>
                    </div>
                }
            </div>

            <div id="service-list-page-container">
                @for (var i = 0; i < 3; i++)
                {
                    var activeClass = i == 0? "service-page-active" : "";
                    <i class="fas fa-circle service-page @activeClass"></i>
                }
            </div>
        </div>

        <div class="col-md-1"></div>

        <div id="contact-form-container" class="col-md-4 row flex-column align-items-center">
            <div id="contact-form-headers">
                <h1 id="contact-form-title">GET IN TOUCH</h1>
            </div>

            @using (Html.BeginForm("SendMessage", "Contact", FormMethod.Post, new { id = "contact-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary();
                <!-- Contact name -->
                <div class="form-group contact-form-field-container row">
                    <i class="fas field-icons fa-user col-sm-2"></i>
                    @Html.TextBoxFor(m => m.ContactName,
                    new { @class = "form-control col-sm-10 contact-textfield", id = "contact-name-field", placeholder = "What's your name?"})

                </div>

                <br />

                <!-- Contact Email -->
                <div class="form-group contact-form-field-container row">
                    <i class="fas field-icons fa-envelope col-sm-2"></i>
                    @Html.TextBoxFor(m => m.ContactEmail,
                     new { @class = "form-control col-sm-10 contact-textfield", id = "contact-email-field", placeholder = "Enter your email" })
                </div>

                <!-- CONTACT MESSAGE -->
                <div class="form-group row">
                    @Html.TextAreaFor(m => m.ContactMessage,
                    new { @class = "form-control", id = "contact-message-field", rows = "6" })
                </div>

                <div class="form-group row">
                    <button type="submit" class="btn btn-primary contact-btn-normal" id="contact-submit">
                        <span id="contact-btn-progress" class="spinner-border" role="status"></span>
                        <i id="contact-btn-status" class="fas fa-times-circle fa-lg"></i>
                        <span id="contact-btn-text">SEND MESSAGE</span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>