<!--
    ==================================
               FOOTER MODULE
    ==================================
-->

@using System.Configuration
@using System.Collections.Specialized;

@{ NameValueCollection SocialConfig = ConfigurationManager.GetSection("socialSettings") as NameValueCollection; }

<div id="footer-container">
    <div id="inner-footer" class="row h-100 flex-row  align-items-center">

        <img src="~/Content/images/footer-image.png" id="footer-image" />

        <div id="footer-social-icons">
            <a href="@SocialConfig.Get("Twitter")">
                <div id="twitter-social-container" class="social-footer-icon-container social-display">
                    <i class="fab fa-twitter inner-social-icon"></i>
                </div>
            </a>

            <a href="@SocialConfig.Get("Github")">
                <div id="github-social-container" class="social-footer-icon-container social-display">
                    <i class="fab fa-github-alt inner-social-icon"></i>
                </div>
            </a>

            <a href="@SocialConfig.Get("Rss")">
                <div id="rss-social-container" class="social-footer-icon-container social-display">
                    <i class="fas fa-rss inner-social-icon"></i>
                </div>
            </a>

            <a href="@SocialConfig.Get("Github")">
                <div id="dribbble-social-container" class="social-footer-icon-container social-display">
                    <i class="fab fa-twitch inner-social-icon"></i>
                </div>
            </a>

            <a href="@SocialConfig.Get("StackOverflow")">
                <div id="stackoverflow-social-container" class="social-footer-icon-container social-display">
                    <i class="fab fa-stack-overflow inner-social-icon"></i>
                </div>
            </a>
        </div>
        <div id="right-info" class="footer-info-container">
            <h1 class="footer-info-title">Thanks for checking out my work</h1>
            <p class="footer-info-description">
                Follow the link below to see how this project was built
            </p>
            <button id="portfolio-btn" class="btn btn-primary footer-btn">View Project</button>
        </div>
    </div>
</div>
