<!-- 
    ==================================
                HOME MODULE
    ==================================
-->

@using System.Configuration
@using System.Collections.Specialized;

@{  NameValueCollection SocialConfig = ConfigurationManager.GetSection("socialSettings") as NameValueCollection; }

<div id="home-container" class="fixed-top h-100">
    <div id="bg-wrapper">
    </div>

    <div id="home-content-wrapper" class="row h-100 flex-column justify-content-center align-items-center">

        <!-- HEADERS -->
        <h1 id="home-title">KYLE J. RUSSELL</h1>
        <h1 id="home-description">FULL-STACK SOFTWARE DEVELOPER</h1>

        <!-- SOCIAL MEDIA -->
        <div id="social-media-container">
            <div class="social-icon-container">
                <a href="@SocialConfig.Get("Github")">
                    <i class="fab fa-2x fa-github-alt"></i>
                </a>
            </div>

            <div class="social-icon-container">
                <a href="@SocialConfig.Get("Twitter")">
                    <i class="fab fa-2x fa-twitter"></i>
                </a>
            </div>

            <div class="social-icon-container">
                <a href="@SocialConfig.Get("StackOverflow")">
                    <i class="fab fa-2x fa-stack-overflow"></i>
                </a>
            </div>

            <div class="social-icon-container">
                <a href="@SocialConfig.Get("Github")">
                    <i class="fab fa-2x fa-twitch"></i>
                </a>
            </div>

            <div class="social-icon-container">
                <a href="@SocialConfig.Get("Rss")">
                    <i class="fas fa-2x fa-rss"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- CONTINUE BUTTON -->
    <div id="bottom-continue-container">
        <button id="continue-btn" class="btn btn-primary btn-lg">
            EXPLORE MY WORK <i class="fas fa-arrow-down"></i>
        </button>
    </div>
</div> 