<!-- 
    ==================================
                HOME MODULE
    ==================================
-->

@using System.Configuration
@using System.Collections.Specialized;

@{  NameValueCollection SocialConfig = ConfigurationManager.GetSection("socialSettings") as NameValueCollection; }

    <div id="home-container" class="section">
        @Html.Partial("_Navbar")
        <div id="bg-wrapper">
        </div>


        <!--<div id="home-content-wrapper" class=""> -->

        <div id="home-wrapper">
            <div id="home-inner-wrapper">
                <svg height="250" width="800" class="svg-wrapper" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <rect class="rect-shape" height="250" width="800"></rect>
                </svg>
                <div id="home-text-container">

                    <h1 id="home-title">KYLE RUSSELL</h1>
                    <h1 id="home-description">FULL-STACK SOFTWARE DEVELOPER</h1>

                    <!-- SOCIAL MEDIA -->
                    <div id="social-media-container">
                        <a href="@SocialConfig.Get("Github")">
                            <div class="social-icon-container">

                                <i class="fab fa-2x fa-github-alt"></i>

                            </div>
                        </a>

                        <a href="@SocialConfig.Get("Twitter")">
                            <div class="social-icon-container">

                                <i class="fab fa-2x fa-twitter"></i>
                            </div>
                        </a>

                        <a href="@SocialConfig.Get("StackOverflow")">
                            <div class="social-icon-container">
                                <i class="fab fa-2x fa-stack-overflow"></i>
                            </div>
                        </a>

                        <a href="@SocialConfig.Get("Dribble")">
                            <div class="social-icon-container">
                                <i class="fab fa-2x fa-dribbble"></i>
                            </div>
                        </a>

                        <a href="mailto:@SocialConfig.Get("Email")">
                            <div class="social-icon-container">
                                <i class="far fa-2x fa-envelope"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="bottom-continue-container">
            <i id="scroll-bottom-btn" class="fas fa-chevron-down"></i>
        </div>
    </div> 