@using System.Configuration

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Dashboard }

@section AdminHomeComponent
{
    @Styles.Render("https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css")

    <script>
        var statisticsFetchUrl = '@Url.Action("GetUserStatisticData", "Dashboard", new { Area = "Admin" })';
        var MaintModeUrl = '@Url.Action("MaintenanceMode", "Dashboard", new { Area = "Admin" })';
        var ShutdownModeUrl = '@Url.Action("ShutdownMode", "Dashboard", new { Area = "Admin" })';
    </script>

    <div class="col-md-12">
        <div class="alert prog-alert" id="dashboard-operation-alert" role="alert">
            <span class="prog-alert-text"></span>
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="card col-md-4 dashboard-stat-card" id="user-card">
        <div class="card-body">
            <i class="fas fa-3x fa-user-friends dashboard-mini-stat-icon"></i>
            <div class="dashboard-mini-stat-container">
                <h1>120</h1>
                <h5>Users</h5>
            </div>
        </div>
    </div>

    <div class="card col-md-4 dashboard-stat-card ml-auto" id="user-card">
        <div class="card-body">
            <i class="fas fa-3x fa-user-friends dashboard-mini-stat-icon"></i>
            <div class="dashboard-mini-stat-container">
                <h1>120</h1>
                <h5>Users</h5>
            </div>
        </div>
    </div>

    <div class="card col-md-4 dashboard-stat-card ml-auto" id="user-card">
        <div class="card-body">
            <i class="fas fa-3x fa-user-friends dashboard-mini-stat-icon"></i>
            <div class="dashboard-mini-stat-container">
                <h1>120</h1>
                <h5>Users</h5>
            </div>
        </div>
    </div>

    <div class="card col-md-8" id="dashboard-graph-container">
        <div class="card-body"></div>
    </div>

    <div class="flex-column ml-auto" id="dashboard-controls-container">
        <div class="card dashboard-stat-card" id="server-stats-card">
            <div class="card-body">
                <i class="fas fa-3x fa-user-friends dashboard-mini-stat-icon"></i>
                <div class="dashboard-mini-stat-container">
                    <h1>120</h1>
                    <h5>Users</h5>
                </div>
            </div>
        </div>
        @{ 
            bool maintModeEnabled = ConfigurationManager.AppSettings["MaintenanceMode"] == "true";
            bool shutdownModeEnabled = ConfigurationManager.AppSettings["ShutdownMode"] == "true";
        }
        <input id="maint-toggle-btn" type="checkbox" autocomplete="off" @Html.Raw(maintModeEnabled? "checked" : "") data-on="<i class='fas fa-wrench'></i> Maintenance"
               data-off="<i class='fas fa-wrench'></i> Maintenance" data-onstyle="danger" data-offstyle="success" data-toggle="toggle" data-size="large" />

        <input id="shutdown-toggle-btn" type="checkbox" @Html.Raw(shutdownModeEnabled? "checked" : "") autocomplete="off" data-on="<i class='fas fa-power-off'></i> Shutdown"
               data-off="<i class='fas fa-power-off'></i> Shutdown" data-onstyle="danger" data-offstyle="success" data-toggle="toggle" data-size="large" />
    </div>
}

@section AdminComponentJavascript
{
    @Scripts.Render("https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js")
    @Scripts.Render("https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
    @Scripts.Render("~/Content/scripts/admin/manage-dashboard.js")
}
