@model personal_site.ViewModels.AdminRepoEditViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Repositories }

@section AdminHomeComponent
{

    <script>
        var repoFetchUrl = '@Url.Content("~/Content/resources/repository-data.json")';
        var repoRemoveUrl = '@Url.Action("RemoveRepository", "Repository", new { Area = "Admin"})';
    </script>

    <div class="card inner-component-card col-md-5">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Run task</span>
        </div>

        <div class="card-body center-body">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Task
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Task A</a>
                <a class="dropdown-item" href="#">Task B</a>
                <a class="dropdown-item" href="#">Task C</a>
                <a class="dropdown-item" href="#">Task D</a>
                <a class="dropdown-item" href="#">Task E</a>
            </div>

            <button class="btn btn-success" id="task-run-btn"><i class="far fa-arrow-alt-circle-up"></i></button>
        </div>
    </div>

    <div class="col-md-2">
    </div>

    <div class="card inner-component-card col-md-5">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Manage</span>
        </div>

        <div class="card-body center-body">
            <span id="repo-count-text"><span class="badge badge-light">28</span> Repos</span>
            <button class="btn btn-warning"><i class="far fa-check-circle"></i> Update</button>
        </div>
    </div>

    <div class="card inner-component-card col-md-12 component-upper-margin">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> Repository List</span>
        </div>

        <div class="card-body" id="repo-list-body">
            <table class="table" id="repo-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Tech</th>
                        <th scope="col">Controls</th>
                    </tr>
                </thead>

                <tbody id="repo-table-body"></tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="repo-remove-modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Repository removal status</h4>
                    <button data-dismiss="modal" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <h3>
                        <i id="repo-remove-fail" class="fas fa-times-circle repo-remove-status-icon"></i>
                        <i id="repo-remove-success" class="fas fa-check-circle repo-remove-status-icon"></i>
                        <span id="removal-modal-text"></span>
                    </h3>

                    <br />

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="repo-edit-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>
                        Edit Repository
                        <br />
                        <small>Change the repository details below</small>
                    </h2>
                    <button data-dismiss="modal" class="close">&times;</button>
                </div>

                <div class="modal-body" id="repo-edit-modal-body">
                    @using (Html.BeginForm("EditRepository", "Repository", new { Area = "Admin" }, FormMethod.Post, new { id = "repo-edit-form" }))
                    {
                        <div class="alert prog-alert" id="repo-save-alert" role="alert">
                            <span class="prog-alert-text"></span>
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="form-group row">
                            <h5 class="repo-edit-form-headers col-md-3">Name</h5>
                            @Html.TextBoxFor(m => m.Name,
                            new { @class = "form-control col-md-8", id = "repo-edit-name", placeholder = "Enter repository name" })
                        </div>

                        <div class="form-group row">
                            <h5 class="repo-edit-form-headers col-md-3">Description</h5>
                            @Html.TextBoxFor(m => m.Description,
                            new { @class = "form-control col-md-8", id = "repo-edit-desc", placeholder = "Enter repository description" })
                        </div>

                        <div class="form-group row">
                            <h5 class="repo-edit-form-headers col-md-2">Languages</h5>
                            @Html.TextBoxFor(m => m.Languages,
                            new { @class = "form-control col-md-4", id = "repo-edit-lang", placeholder = "Enter repository languages" })

                            <h5 class="repo-edit-form-headers col-md-2">Code Lines</h5>
                            @Html.TextBoxFor(m => m.CodeLines,
                            new { @class = "form-control col-md-3", id = "repo-edit-code", placeholder = "Enter no. code lines" })
                        </div>

                        <div class="form-group row" id="repo-edit-area-container">
                            <h5 class="repo-edit-form-headers col-md-3">Readme</h5>
                            @Html.TextAreaFor(m => m.Readme,
                            new { @class = "form-control col-md-11", id = "repo-edit-readme", placeholder = "Enter repository readme", rows = "10" })
                        </div>

                        <div class="row" id="repo-edit-form-controls">
                            <div class="btn-group" role="group">
                                <button data-dismiss="modal" class="btn btn-lg btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Back</button>
                                <button id="repo-save-btn" type="submit" class="btn btn-lg btn-success">
                                    <span><i class="far fa-check-circle"></i> Save</span>
                                    <div class="spinner-border prog-spinner" role="status"></div>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section AdminComponentJavascript
{
    @Scripts.Render("~/Content/scripts/admin/manage-repos.js")
}


