@using personal_site.Services
@using personal_site.Models

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Users }


@section AdminHomeComponent
{
    <div class="card inner-component-card col-md-12">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> User List</span>
        </div>

        <div class="card-body" id="user-list-body">
            <div id="user-controls-container">
                <button class="btn btn-success" id="create-user-btn">
                    <i class="fas fa-user-plus"></i> Create New User
                </button>
            </div>

            <table class="table color-table" id="user-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>

                <tbody id="user-table-body">
                    @foreach(ApplicationUser user in UserService.GetInstance().GetUserList())
                    {
                        <tr data-userId="@user.Id">
                            <td class="user-table-name">
                                @user.DisplayName
                            </td>

                            <td class="user-table-email">
                                @user.Email
                            </td>

                            <td class="user-table-provider">
                                @user.Provider
                            </td>

                            <td class="user-table-date">

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section AdminComponentJavascript
{
    @Scripts.Render("~/Content/scripts/admin/manage-users.js")
}
