@using personal_site.Services
@using personal_site.Models

@model personal_site.ViewModels.AdminUserEditViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayout.cshtml";
}

@section AdminComponentTitle { Users }


@section AdminHomeComponent
{
    <script>
        var userInfoUrl = '@Url.Action("GetUserInfo", "User", new { Area = "Admin" })';
    </script>

    <div class="card inner-component-card col-md-12">
        <div class="card-header">
            <span class="inner-component-title"><i class="fas fa-circle"></i> User List</span>
        </div>

        <div class="card-body" id="user-list-body">
            <div id="user-controls-container">
                <button class="btn btn-success" data-toggle="modal" id="create-user-btn">
                    <i class="fas fa-user-plus"></i> Create New User
                </button>
            </div>

            <table class="table color-table" id="user-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Controls</th>
                    </tr>
                </thead>

                <tbody id="user-table-body">
                    @foreach (ApplicationUser user in UserService.GetInstance().GetUserList())
                    {
                        string providerName = user.Provider ?? "None";

                        <tr data-userId="@user.Id">
                            <td class="user-table-name">
                                @user.DisplayName
                            </td>

                            <td class="user-table-email">
                                @user.Email
                            </td>

                            <td class="user-table-provider">
                                @providerName
                            </td>

                            <td class="user-table-controls">
                                <button class="user-edit-btn user-table-control-btns"><i class="far fa-edit"></i></button>
                                <button class="user-remove-btn user-table-control-btns">
                                    <i class="fas fa-times"></i>
                                    <div class="spinner-border prog-spinner" role="status"></div>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="user-edit-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>
                        Create/Edit User
                        <br />
                        <small>Enter the user details below</small>
                    </h2>
                    <button data-dismiss="modal" class="close">&times;</button>
                </div>

                <div class="modal-body" id="user-edit-modal-body">
                    <div class="alert prog-alert" id="user-save-alert" role="alert">
                        <span class="prog-alert-text"></span>
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    @using (Html.BeginForm("SaveUser", "User", new { Area = "Admin" }, FormMethod.Post, new { id = "user-save-form", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.UserId,
                        new { id = "user-edit-id" })

                        <div class="form-group row">
                            <h4 class="col-md-3">
                                Name
                            </h4>
                            @Html.TextBoxFor(m => m.DisplayName,
                            new { @class = "form-control col-md-8", id = "user-edit-name", placeholder = "Enter the user display name" })
                        </div>

                        <div class="form-group row">
                            <h4 class="col-md-3">
                                Username
                            </h4>
                            @Html.TextBoxFor(m => m.Username,
                            new { @class = "form-control col-md-8", id = "user-edit-username", placeholder = "Enter the users id" })
                        </div>


                        <div class="form-group row">
                            <h4 class="col-md-3">
                                Email
                            </h4>
                            @Html.TextBoxFor(m => m.Email,
                            new { @class = "form-control col-md-8", id = "user-edit-email", placeholder = "Enter the user email address" })
                        </div>

                        <div class="form-group row">
                            <h4 class="col-md-3">
                                Password
                            </h4>
                            @Html.PasswordFor(m => m.Password,
                            new { @class = "form-control col-md-8", id = "user-edit-password", placeholder = "Enter the user password" })
                        </div>

                        <div class="form-group row">
                            <h4 class="col-md-3">
                                Profile image
                            </h4>
                            @Html.TextBoxFor(m => m.ProfilePicture,
                            new { @class = "form-control col-md-8", id = "user-edit-picture", placeholder = "Enter the URL for the user picture" })
                        </div>

                        <div class="row" id="user-edit-form-controls">
                            <div class="btn-group" role="group">
                                <button data-dismiss="modal" class="btn btn-lg btn-primary"><i class="far fa-arrow-alt-circle-left"></i> Go Back</button>
                                <button class="btn btn-lg btn-success" id="user-save-btn">
                                    <span><i class="far fa-check-circle"></i> Save User</span>
                                    <div class="spinner-border prog-spinner" role="status"></div>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section AdminComponentJavascript
{
    @Scripts.Render("~/Content/scripts/admin/manage-users.js")
}
