
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css
{
    @Styles.Render("//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    @Styles.Render("~/Content/dependencies/odometer/odometer-theme-default.css")
}

@Html.Partial("_Navbar")

<div id="module-container" class="d-flex flex-column">
    <!-- HOME MODULE -->
    @Html.Partial("../Modules/_Home")

    <!-- ABOUT MODULE -->
    @Html.Partial("../Modules/_About")

    <!-- SKILLS MODULE -->
    @Html.Partial("../Modules/_Skills")

    <!-- PORTFOLIO MODULE -->
    @Html.Partial("../Modules/_Portfolio")

    <!-- BLOG MODULE -->
    @*@Html.Partial("../Modules/_Blog")*@

    <!-- CONTACT MODULE -->
    @Html.Partial("../Modules/_Contact")

    <!-- FOOTER MODULE -->
    @Html.Partial("../Modules/_Footer")

</div>

@section JavascriptInnerDependencies
{
    @Scripts.Render("//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    @Scripts.Render("~/Content/dependencies/odometer/odometer.min.js")
}